.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 24;
  color: #000;
}

.page-content {
  margin: 24px;
}
